<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Yelp MVP!</h1>
  <p class="lead">Check out these awesome restaurants from all over the world!</p>
</div>

<h1>Restaurants</h1>

<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= restaurant.name %></h4><br>
            <p class="card-text">
              <strong>Address:</strong> <%= restaurant.address %><br>
              <strong>Phone:</strong> <%= restaurant.phone_number %><br>
              <strong>Category:</strong> <%= restaurant.category.capitalize %><br>
              <%= link_to 'Show', restaurant %> |
              <%= link_to 'Edit', edit_restaurant_path(restaurant) %> |
              <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>



<!--
<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-sm-6">
        <div class="d-inline-block">
        <h3><%= restaurant.name %></h3><br>
          <strong>Address:</strong> <%= restaurant.address %><br>
          <strong>Phone:</strong> <%= restaurant.phone_number %><br>
          <strong>Category:</strong> <%= restaurant.category.capitalize %><br>
          <%= link_to 'Show', restaurant %> |
          <%= link_to 'Edit', edit_restaurant_path(restaurant) %> |
          <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
 -->
<%= link_to 'Add a New Restaurant', new_restaurant_path %>





